@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    overflow-y: scroll;
}

.backgroundWrapper {
    background: url('../images/background.svg') no-repeat center center;
    position: fixed;
    z-index: -2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    position: fixed;
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 30px;
    top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.stacked-links a, .reg-links a {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.stacked-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stacked-links a:hover, .reg-links a:hover {
    color: #1251AF;
    text-decoration: underline;
}

.contact {
    background: #1251AF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    transition: background .3s;
}

.contact:hover {
    background: #1a73f8;
    color: white;
    text-decoration: underline;
}

.icon {
    padding-left: 25px;
    margin-top: -10px;
    margin-bottom: -10px;
    width: 60px;
}

.icon img {
    width: 100%;
    height: auto;
}

.homeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    gap: 5%;
}

.myPortrait {
    width: 500px;
    display: flex;
    align-content: center;
}

.myPortrait img {
    width: 100%;
    height: auto;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    color: white;
    font-family: 'Quicksand', 'sans-serif';
}

.descriptionHead {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-weight: 700;
    font-size: 45px;
    max-width: 800px;
}

.descriptionBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 70px;
    font-weight: 300;
    font-size: 30px;
    max-width: 800px;
    padding-bottom: 250px;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 150px;
    gap: 30px;
    text-align: center;
    font-family: 'Quicksand';
    color: white;
}

.contactHead {
    font-size: 50px;
    font-weight: 500;
}

.contactBody {
    padding-top: 50px;
    font-size: 30px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    align-items: center;
    gap: 30px;
}

.contactBody a {
    color: white; 
}

.contactBody img {
    width: 65px;
    height: auto;
}

.contactBody span {
    padding-left: 10px;
}

.videosWrapper {
    width: 100vw;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.vidText {
    padding: 0px 18% 60px 18%;
    color: white;
    font-family: 'Quicksand';
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.vidRow {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.calendarEmbed {
    display: flex;
    justify-content: center;
    padding: 50px 2% 50px 2%;
}

.calendarText {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 150px;
    color: white;
    font-family: 'Quicksand';
    font-size: 55px;
    font-weight: 300;
}